@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  body{
    background-color: #1b2735;
    
  }
  .navigation {
    height: 65px;
    background: #1b2735;
    position: relative;
  
  }
  
  
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
  }
  .brand a,
  .brand a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  nav {
    float: right;
    
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  nav ul li a,
  nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #1b2735;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
  }
  nav ul li a:hover,
  nav ul li a:visited:hover {
    background: #1b2735;
    color: #6aa7cf;
   
  }
  nav ul li a:not(:only-child):after,
  nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
  }
  nav ul li ul li {
    min-width: 190px;
  }
  nav ul li ul li a {
    padding: 7px;
    line-height: 15px;
    list-style: none;
  }
  
  .nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px #1b2735;
  }
  .nav-dropdown1 {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px #1b2735;
  }
  
  /* Mobile navigation */
  .nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #1b2735;
    height: 70px;
    width: 70px;
  }
  
  @media only screen and (max-width: 798px) {
    .nav-mobile {
      display: block;
    }
  
    nav {
      width: 100%;
      padding: 70px 0 15px;
    }
    nav ul {
      display: none;
    }
    nav ul li {
      float: none;
    }
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      list-style: none;
      text-decoration: none;
    }
   
    nav ul li ul li a {
      padding-left: 30px;
    }
  
    .nav-dropdown {
      position: static;
    }
  }
  @media screen and (min-width: 799px) {
    .nav-list {
      display: block !important;
      
    }
  }
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  
  article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }
  html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    padding: 0;
    margin:0;
    height: 2000px;
  }
  
  
  .stars {
    background: transparent;
  }
  
  #stars1 {
    width: 1px;
    height: 1px;
    animation: animStar 50s linear infinite;
  }
  #stars1:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 1234px 259px #FFF , 457px 557px #FFF , 1682px 1278px #FFF , 1002px 1135px #FFF , 1161px 1132px #FFF , 631px 832px #FFF , 390px 1289px #FFF , 896px 436px #FFF , 1398px 1485px #FFF , 1066px 379px #FFF , 1695px 1798px #FFF , 1961px 835px #FFF , 1893px 861px #FFF , 184px 519px #FFF , 1970px 708px #FFF , 1541px 443px #FFF , 31px 1546px #FFF , 445px 798px #FFF , 1255px 1190px #FFF , 1858px 685px #FFF , 1321px 185px #FFF , 1658px 1703px #FFF , 1775px 599px #FFF , 374px 1468px #FFF , 25px 1712px #FFF , 1610px 1169px #FFF , 517px 1158px #FFF , 128px 223px #FFF , 126px 170px #FFF , 528px 857px #FFF , 80px 1809px #FFF , 1854px 916px #FFF , 702px 164px #FFF , 983px 1730px #FFF , 1213px 584px #FFF , 1699px 218px #FFF , 412px 1456px #FFF , 1990px 1628px #FFF , 1258px 488px #FFF , 1769px 1674px #FFF , 1226px 1538px #FFF , 122px 1185px #FFF , 1786px 610px #FFF , 1631px 964px #FFF , 1532px 495px #FFF , 408px 1182px #FFF , 1178px 1446px #FFF , 1829px 1251px #FFF , 1669px 646px #FFF , 1201px 299px #FFF , 1061px 631px #FFF , 860px 467px #FFF , 916px 1182px #FFF , 494px 1099px #FFF , 1166px 695px #FFF , 876px 461px #FFF , 196px 1654px #FFF , 124px 631px #FFF , 829px 685px #FFF , 454px 1603px #FFF , 1359px 1921px #FFF , 406px 1496px #FFF , 929px 396px #FFF , 848px 1297px #FFF , 855px 1846px #FFF , 1873px 1548px #FFF , 1604px 182px #FFF , 1082px 1712px #FFF , 740px 1850px #FFF , 9px 819px #FFF , 1945px 808px #FFF , 1844px 702px #FFF , 1861px 1800px #FFF , 1132px 1683px #FFF , 1577px 839px #FFF , 758px 830px #FFF , 1px 1844px #FFF , 91px 766px #FFF , 1043px 563px #FFF , 299px 1061px #FFF , 73px 1839px #FFF , 261px 1716px #FFF , 1071px 1584px #FFF , 212px 1796px #FFF , 418px 1593px #FFF , 1688px 1277px #FFF , 246px 1819px #FFF , 409px 434px #FFF , 154px 258px #FFF , 1463px 89px #FFF , 956px 1630px #FFF , 1748px 1782px #FFF , 1491px 1778px #FFF , 955px 256px #FFF , 788px 534px #FFF , 640px 1733px #FFF , 221px 1700px #FFF , 458px 538px #FFF , 1255px 1639px #FFF , 1210px 1344px #FFF , 630px 188px #FFF , 1120px 570px #FFF , 1992px 1911px #FFF , 1811px 1726px #FFF , 506px 86px #FFF , 1878px 1467px #FFF , 1633px 1172px #FFF , 1533px 1916px #FFF , 1759px 1714px #FFF , 1948px 121px #FFF , 391px 1777px #FFF , 886px 693px #FFF , 564px 382px #FFF , 968px 958px #FFF , 174px 887px #FFF , 174px 1908px #FFF , 1941px 290px #FFF , 1979px 723px #FFF , 1731px 887px #FFF , 1146px 866px #FFF , 284px 1373px #FFF , 857px 84px #FFF , 559px 1066px #FFF , 199px 690px #FFF , 1061px 922px #FFF , 1222px 433px #FFF , 1783px 263px #FFF , 516px 281px #FFF , 1953px 460px #FFF , 772px 617px #FFF , 563px 466px #FFF , 1089px 714px #FFF , 1354px 1356px #FFF , 1865px 1663px #FFF , 1176px 1506px #FFF , 1077px 114px #FFF , 1848px 337px #FFF , 1547px 15px #FFF , 1895px 251px #FFF , 819px 438px #FFF , 1986px 103px #FFF , 473px 711px #FFF , 440px 1644px #FFF , 1929px 1690px #FFF , 822px 1636px #FFF , 1790px 1854px #FFF , 567px 558px #FFF , 34px 1347px #FFF , 332px 274px #FFF , 1351px 906px #FFF , 782px 1671px #FFF , 1723px 71px #FFF , 1568px 376px #FFF , 4px 1526px #FFF , 440px 1123px #FFF , 569px 1456px #FFF , 1677px 507px #FFF , 870px 1437px #FFF , 984px 143px #FFF , 1162px 214px #FFF , 916px 121px #FFF , 74px 219px #FFF , 1367px 450px #FFF , 1968px 1822px #FFF , 350px 326px #FFF , 1412px 478px #FFF , 67px 405px #FFF , 410px 1982px #FFF , 134px 1265px #FFF , 1171px 97px #FFF , 231px 1602px #FFF , 1066px 1108px #FFF , 1115px 1846px #FFF , 854px 332px #FFF , 805px 144px #FFF , 1844px 112px #FFF , 749px 663px #FFF , 1775px 1628px #FFF , 1577px 1312px #FFF , 260px 72px #FFF , 363px 1px #FFF , 458px 26px #FFF , 1499px 1242px #FFF , 380px 1880px #FFF , 1999px 328px #FFF , 1261px 2px #FFF , 263px 523px #FFF , 1109px 262px #FFF , 1639px 1594px #FFF , 587px 1066px #FFF , 571px 772px #FFF , 207px 847px #FFF , 1379px 1142px #FFF , 961px 1268px #FFF , 1401px 10px #FFF , 612px 1002px #FFF , 1944px 1535px #FFF , 922px 1794px #FFF , 1816px 1938px #FFF , 1564px 1945px #FFF , 1756px 1739px #FFF , 549px 53px #FFF , 1210px 1612px #FFF , 1190px 182px #FFF , 941px 584px #FFF , 1168px 1746px #FFF , 523px 651px #FFF , 1974px 1613px #FFF , 291px 97px #FFF , 604px 1688px #FFF , 792px 1431px #FFF , 725px 1134px #FFF , 1120px 926px #FFF , 945px 240px #FFF , 814px 1319px #FFF , 642px 1827px #FFF , 1704px 1420px #FFF , 534px 1776px #FFF , 1269px 1208px #FFF , 1406px 6px #FFF , 903px 761px #FFF , 733px 1272px #FFF , 1893px 751px #FFF , 594px 712px #FFF , 1831px 517px #FFF , 612px 212px #FFF , 1555px 754px #FFF , 863px 35px #FFF , 595px 312px #FFF , 1394px 1963px #FFF , 820px 335px #FFF , 1261px 1653px #FFF , 15px 751px #FFF , 1952px 1282px #FFF , 209px 893px #FFF , 629px 1223px #FFF , 1415px 424px #FFF , 402px 820px #FFF , 429px 1523px #FFF , 1205px 1416px #FFF , 1080px 269px #FFF , 415px 344px #FFF , 838px 590px #FFF , 137px 1899px #FFF , 974px 211px #FFF , 1730px 685px #FFF , 1847px 1384px #FFF , 1493px 56px #FFF , 1716px 1604px #FFF , 1821px 20px #FFF , 1527px 782px #FFF , 1566px 150px #FFF , 95px 1898px #FFF , 1692px 1160px #FFF , 34px 262px #FFF , 1082px 607px #FFF , 500px 1922px #FFF , 1897px 870px #FFF , 97px 1054px #FFF , 1635px 1384px #FFF , 527px 269px #FFF , 1733px 398px #FFF , 110px 1455px #FFF , 1175px 1008px #FFF , 74px 1947px #FFF , 376px 1278px #FFF , 637px 1605px #FFF , 41px 1728px #FFF , 377px 944px #FFF , 810px 494px #FFF , 530px 549px #FFF , 432px 1369px #FFF , 1316px 1459px #FFF , 1275px 1129px #FFF , 1666px 606px #FFF , 729px 349px #FFF , 306px 418px #FFF , 919px 1885px #FFF , 41px 1036px #FFF , 1542px 144px #FFF , 1713px 641px #FFF , 315px 1369px #FFF , 1030px 1223px #FFF , 1679px 1359px #FFF , 994px 655px #FFF , 374px 1666px #FFF , 1180px 302px #FFF , 136px 33px #FFF , 781px 445px #FFF , 986px 313px #FFF , 1066px 569px #FFF , 937px 582px #FFF , 1982px 1647px #FFF , 1467px 844px #FFF , 1410px 867px #FFF , 647px 980px #FFF , 75px 1911px #FFF , 1094px 934px #FFF , 1841px 313px #FFF , 725px 1114px #FFF , 1163px 1182px #FFF , 57px 1649px #FFF , 1227px 1112px #FFF , 702px 1157px #FFF , 1067px 1210px #FFF , 233px 1397px #FFF , 1741px 557px #FFF , 484px 1818px #FFF , 1257px 1485px #FFF , 506px 1606px #FFF , 231px 860px #FFF , 1614px 1979px #FFF , 1729px 435px #FFF , 1366px 829px #FFF , 1772px 957px #FFF , 980px 607px #FFF , 310px 854px #FFF , 908px 1721px #FFF , 1310px 1008px #FFF , 189px 1631px #FFF , 1381px 1132px #FFF , 955px 1815px #FFF , 1950px 382px #FFF , 1039px 700px #FFF , 602px 1403px #FFF , 423px 938px #FFF , 1566px 1257px #FFF , 1381px 1171px #FFF , 339px 379px #FFF , 868px 61px #FFF , 813px 1153px #FFF , 1636px 1199px #FFF , 14px 1950px #FFF , 660px 1336px #FFF , 119px 430px #FFF , 1224px 80px #FFF , 1616px 550px #FFF , 1601px 58px #FFF , 1608px 1445px #FFF , 1592px 1494px #FFF , 1329px 13px #FFF , 1002px 152px #FFF , 1326px 866px #FFF , 638px 131px #FFF , 854px 363px #FFF , 367px 1492px #FFF , 711px 686px #FFF , 1073px 800px #FFF , 1721px 301px #FFF , 123px 705px #FFF , 880px 717px #FFF , 813px 781px #FFF , 638px 185px #FFF , 264px 151px #FFF , 1599px 769px #FFF , 1114px 1876px #FFF , 1638px 1621px #FFF , 1074px 942px #FFF , 533px 738px #FFF , 1830px 1910px #FFF , 1927px 929px #FFF , 858px 554px #FFF , 486px 1293px #FFF , 532px 1475px #FFF , 1553px 676px #FFF , 1517px 1951px #FFF , 1671px 45px #FFF , 1046px 1977px #FFF , 225px 497px #FFF , 1512px 842px #FFF , 1296px 1497px #FFF , 293px 785px #FFF , 439px 1437px #FFF , 979px 103px #FFF , 1262px 385px #FFF , 63px 494px #FFF , 1517px 801px #FFF , 363px 257px #FFF , 994px 1722px #FFF , 614px 1664px #FFF , 849px 1250px #FFF , 381px 543px #FFF , 1149px 1164px #FFF , 1671px 1926px #FFF , 1038px 877px #FFF , 442px 1324px #FFF , 650px 407px #FFF , 1617px 38px #FFF , 1700px 182px #FFF , 1831px 1701px #FFF , 1868px 1740px #FFF , 81px 1958px #FFF , 1828px 1812px #FFF , 900px 1095px #FFF , 1187px 1626px #FFF , 806px 437px #FFF , 775px 532px #FFF , 685px 236px #FFF , 1834px 939px #FFF , 1865px 1314px #FFF , 768px 1605px #FFF , 733px 706px #FFF , 617px 1126px #FFF , 1368px 1489px #FFF , 565px 614px #FFF , 1539px 1022px #FFF , 1586px 730px #FFF , 1650px 640px #FFF , 1385px 1296px #FFF , 885px 1737px #FFF , 1957px 753px #FFF , 1229px 1457px #FFF , 689px 1560px #FFF , 905px 1577px #FFF , 1648px 1427px #FFF , 827px 800px #FFF , 628px 1314px #FFF , 1212px 1893px #FFF , 351px 42px #FFF , 1391px 61px #FFF , 788px 1543px #FFF , 469px 707px #FFF , 1743px 1772px #FFF , 1554px 1236px #FFF , 1988px 736px #FFF , 1441px 1216px #FFF , 817px 1667px #FFF , 1046px 1372px #FFF , 961px 1442px #FFF , 83px 1447px #FFF , 1941px 1103px #FFF , 1714px 1306px #FFF , 1581px 646px #FFF , 1362px 341px #FFF , 1019px 1528px #FFF , 1643px 1611px #FFF , 1905px 1764px #FFF , 152px 1741px #FFF , 1611px 1969px #FFF , 197px 1146px #FFF , 1719px 833px #FFF , 34px 976px #FFF , 1689px 1530px #FFF , 812px 1290px #FFF , 65px 585px #FFF , 11px 767px #FFF , 324px 8px #FFF , 501px 1694px #FFF , 1442px 177px #FFF , 36px 6px #FFF , 1062px 431px #FFF , 1352px 1107px #FFF , 1553px 1750px #FFF , 1087px 1713px #FFF , 69px 957px #FFF , 454px 102px #FFF , 1369px 913px #FFF , 403px 344px #FFF , 1963px 423px #FFF , 1138px 164px #FFF , 1517px 222px #FFF , 905px 1674px #FFF , 1527px 1421px #FFF , 1517px 352px #FFF , 796px 1249px #FFF , 154px 801px #FFF , 453px 544px #FFF , 40px 1144px #FFF , 225px 1484px #FFF , 1724px 1795px #FFF , 1826px 1738px #FFF , 1568px 1438px #FFF , 708px 812px #FFF , 1195px 757px #FFF , 775px 1956px #FFF , 568px 1498px #FFF , 1495px 220px #FFF , 910px 315px #FFF , 1808px 1510px #FFF , 713px 1531px #FFF , 1806px 1201px #FFF , 1248px 1246px #FFF , 1306px 689px #FFF , 1092px 1903px #FFF , 139px 21px #FFF , 162px 71px #FFF , 14px 560px #FFF , 423px 470px #FFF , 79px 749px #FFF , 1339px 1193px #FFF , 1950px 787px #FFF , 781px 78px #FFF , 239px 1686px #FFF , 92px 1775px #FFF , 1693px 1978px #FFF , 1281px 1619px #FFF , 1885px 307px #FFF , 1528px 328px #FFF , 362px 615px #FFF , 1793px 1887px #FFF , 864px 1596px #FFF , 377px 900px #FFF , 1114px 653px #FFF , 1887px 1589px #FFF , 444px 1192px #FFF , 1632px 1198px #FFF , 1493px 1699px #FFF , 458px 1799px #FFF , 190px 1057px #FFF , 541px 1974px #FFF , 1114px 1818px #FFF , 1822px 1582px #FFF , 850px 891px #FFF , 850px 577px #FFF , 1960px 1150px #FFF , 486px 1004px #FFF , 665px 331px #FFF , 21px 1698px #FFF , 1177px 947px #FFF , 1206px 817px #FFF , 1155px 993px #FFF , 1165px 1579px #FFF , 1995px 1767px #FFF , 1552px 1698px #FFF , 811px 1652px #FFF , 1242px 205px #FFF , 1808px 1217px #FFF , 1402px 999px #FFF , 996px 1801px #FFF , 537px 1373px #FFF , 736px 1647px #FFF , 1699px 513px #FFF , 1242px 265px #FFF , 589px 1410px #FFF , 1336px 756px #FFF , 440px 1040px #FFF , 1161px 1632px #FFF , 1797px 62px #FFF , 1781px 666px #FFF , 1867px 1543px #FFF , 369px 1667px #FFF , 784px 1156px #FFF , 752px 1360px #FFF , 421px 698px #FFF , 1473px 1932px #FFF , 1927px 630px #FFF , 1426px 254px #FFF , 1939px 1569px #FFF , 78px 1917px #FFF , 1500px 937px #FFF , 387px 1325px #FFF , 1226px 1049px #FFF , 712px 1149px #FFF , 169px 1158px #FFF , 1595px 1578px #FFF , 219px 616px #FFF , 1885px 1133px #FFF , 1550px 546px #FFF , 648px 1178px #FFF , 1086px 1934px #FFF , 681px 652px #FFF , 602px 36px #FFF , 112px 1925px #FFF , 348px 1828px #FFF , 1554px 1953px #FFF , 817px 504px #FFF , 1621px 70px #FFF , 1143px 752px #FFF , 1222px 1223px #FFF , 608px 611px #FFF , 780px 1188px #FFF , 1582px 1px #FFF , 919px 1074px #FFF , 17px 268px #FFF , 652px 126px #FFF , 1319px 262px #FFF , 1605px 322px #FFF , 1613px 489px #FFF , 1771px 452px #FFF , 1283px 953px #FFF , 491px 1320px #FFF , 1774px 657px #FFF , 1213px 459px #FFF , 480px 1514px #FFF , 1384px 587px #FFF , 805px 1734px #FFF , 87px 889px #FFF , 1494px 331px #FFF , 1022px 623px #FFF , 1257px 1376px #FFF , 831px 1118px #FFF , 412px 542px #FFF , 1774px 147px #FFF , 820px 459px #FFF , 924px 756px #FFF , 1175px 1386px #FFF , 1574px 607px #FFF , 639px 1350px #FFF , 182px 323px #FFF , 1913px 1740px #FFF , 616px 972px #FFF , 789px 1681px #FFF , 1236px 1524px #FFF , 479px 1903px #FFF , 338px 1669px #FFF , 1259px 710px #FFF , 439px 614px #FFF , 1522px 1318px #FFF , 1311px 589px #FFF , 1191px 1567px #FFF , 1044px 131px #FFF , 919px 869px #FFF , 181px 787px #FFF , 1004px 1462px #FFF , 1504px 1291px #FFF , 55px 1627px #FFF , 1246px 1093px #FFF , 1543px 1406px #FFF , 1807px 622px #FFF , 1745px 1964px #FFF , 1819px 880px #FFF , 1941px 528px #FFF , 1639px 1982px #FFF , 110px 391px #FFF , 1919px 1486px #FFF , 1869px 121px #FFF , 731px 1511px #FFF , 992px 1315px #FFF , 408px 887px #FFF , 627px 931px #FFF , 555px 374px #FFF , 213px 1668px #FFF , 1341px 1247px #FFF , 79px 931px #FFF , 523px 744px #FFF , 1895px 1504px #FFF , 259px 298px #FFF , 1751px 1749px #FFF , 1308px 1024px #FFF , 703px 1557px #FFF , 522px 793px #FFF , 1713px 1367px #FFF , 495px 1596px #FFF , 1054px 1386px #FFF , 790px 1146px #FFF , 661px 1413px #FFF , 1853px 796px #FFF , 435px 142px #FFF , 1270px 1034px #FFF , 596px 1808px #FFF , 1713px 518px #FFF , 437px 206px #FFF , 1936px 535px #FFF , 370px 1635px #FFF , 1558px 294px #FFF , 1326px 235px #FFF , 1235px 529px #FFF , 1562px 230px #FFF , 555px 333px #FFF , 295px 1825px #FFF , 155px 1336px #FFF , 1737px 1837px #FFF , 491px 1935px #FFF , 1014px 367px #FFF , 1597px 1025px #FFF , 661px 1616px #FFF , 1484px 282px #FFF , 1145px 1880px #FFF , 1186px 471px #FFF , 808px 1232px #FFF , 608px 1063px #FFF , 1308px 1067px #FFF , 1066px 1450px #FFF , 1328px 2px #FFF , 550px 1349px #FFF , 1720px 657px #FFF , 1998px 249px #FFF , 1151px 878px #FFF , 604px 980px #FFF , 1694px 1794px #FFF , 902px 1410px #FFF , 700px 679px #FFF , 1177px 650px #FFF , 1325px 285px #FFF , 1987px 1826px #FFF , 775px 36px #FFF , 1787px 1097px #FFF , 872px 657px #FFF , 216px 1735px #FFF , 1974px 1984px #FFF , 1714px 1530px #FFF , 1064px 1608px #FFF , 770px 523px #FFF , 1702px 1353px #FFF , 1111px 139px #FFF , 1578px 159px #FFF , 1867px 927px #FFF , 493px 473px #FFF , 879px 1636px #FFF , 422px 1241px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1335px 1914px #FFF , 313px 1179px #FFF , 330px 1842px #FFF , 1325px 226px #FFF , 189px 675px #FFF , 1810px 782px #FFF , 994px 1928px #FFF , 1820px 1904px #FFF , 1397px 1322px #FFF , 1669px 778px #FFF , 1800px 142px #FFF , 55px 267px #FFF , 615px 1761px #FFF , 1706px 1661px #FFF , 1007px 734px #FFF , 558px 1170px #FFF , 1121px 544px #FFF , 864px 231px #FFF , 871px 1514px #FFF , 1664px 1141px #FFF , 167px 2px #FFF , 1824px 1975px #FFF , 999px 956px #FFF , 224px 250px #FFF , 836px 49px #FFF , 543px 1212px #FFF , 231px 493px #FFF , 1854px 493px #FFF , 1246px 367px #FFF , 1041px 36px #FFF , 1958px 1581px #FFF , 1711px 885px #FFF , 1449px 1155px #FFF , 1819px 1711px #FFF , 972px 1135px #FFF , 712px 1284px #FFF , 378px 153px #FFF , 644px 1122px #FFF , 1631px 1171px #FFF , 701px 615px #FFF , 1124px 226px #FFF , 401px 1822px #FFF , 734px 1764px #FFF , 1598px 240px #FFF , 1842px 590px #FFF , 567px 109px #FFF , 118px 534px #FFF , 1136px 1458px #FFF , 369px 730px #FFF , 1855px 1865px #FFF , 1145px 1512px #FFF , 37px 1800px #FFF , 1200px 1366px #FFF , 1696px 1430px #FFF , 1636px 707px #FFF , 348px 878px #FFF , 440px 40px #FFF , 1641px 774px #FFF , 307px 133px #FFF , 630px 1659px #FFF , 1334px 1043px #FFF , 1958px 1392px #FFF , 771px 1259px #FFF , 1910px 422px #FFF , 96px 861px #FFF , 679px 1160px #FFF , 1683px 67px #FFF , 179px 30px #FFF , 712px 321px #FFF , 60px 1463px #FFF , 920px 608px #FFF , 699px 672px #FFF , 151px 866px #FFF , 1453px 715px #FFF , 1213px 1710px #FFF , 309px 249px #FFF , 1994px 80px #FFF , 759px 1827px #FFF , 154px 1714px #FFF , 530px 2000px #FFF , 802px 1948px #FFF , 113px 35px #FFF , 625px 1120px #FFF , 1515px 104px #FFF , 1291px 916px #FFF , 448px 565px #FFF , 1880px 39px #FFF , 585px 482px #FFF , 206px 59px #FFF , 683px 914px #FFF , 1286px 296px #FFF , 1203px 1553px #FFF , 503px 529px #FFF , 220px 1696px #FFF , 1719px 1350px #FFF , 1181px 431px #FFF , 1883px 92px #FFF , 724px 790px #FFF , 952px 1376px #FFF , 1710px 319px #FFF , 1635px 1207px #FFF , 1458px 1740px #FFF , 393px 274px #FFF , 207px 665px #FFF , 1009px 154px #FFF , 1726px 1116px #FFF , 1404px 947px #FFF , 1217px 838px #FFF , 337px 287px #FFF , 971px 1223px #FFF , 1779px 1459px #FFF , 1039px 1679px #FFF , 1673px 426px #FFF , 1043px 166px #FFF , 1948px 338px #FFF , 804px 1835px #FFF , 759px 1549px #FFF , 1160px 844px #FFF , 1324px 972px #FFF , 598px 1518px #FFF , 122px 52px #FFF , 732px 546px #FFF , 610px 1221px #FFF , 363px 397px #FFF , 626px 293px #FFF , 1566px 374px #FFF , 1396px 1135px #FFF , 1301px 560px #FFF , 929px 1914px #FFF , 172px 1586px #FFF , 1980px 1614px #FFF , 1488px 557px #FFF , 342px 1210px #FFF , 1118px 1626px #FFF , 44px 1393px #FFF , 1415px 423px #FFF , 1200px 1210px #FFF , 636px 1583px #FFF , 94px 503px #FFF , 1032px 430px #FFF , 303px 1012px #FFF , 175px 915px #FFF , 1246px 377px #FFF , 1481px 913px #FFF , 1898px 1665px #FFF , 86px 335px #FFF , 1821px 1487px #FFF , 983px 553px #FFF , 1990px 1507px #FFF , 1623px 1731px #FFF , 970px 91px #FFF , 383px 1426px #FFF , 762px 973px #FFF , 1625px 558px #FFF , 138px 1977px #FFF , 1940px 303px #FFF , 906px 570px #FFF , 1775px 1530px #FFF , 1062px 706px #FFF , 656px 1038px #FFF , 1595px 1888px #FFF , 425px 111px #FFF , 1475px 227px #FFF , 332px 470px #FFF , 719px 1137px #FFF , 205px 571px #FFF , 393px 483px #FFF , 1050px 1152px #FFF , 690px 1954px #FFF , 441px 376px #FFF , 1606px 1651px #FFF , 88px 1221px #FFF , 1908px 990px #FFF , 280px 434px #FFF , 525px 1386px #FFF , 1528px 972px #FFF , 1523px 712px #FFF , 1277px 1129px #FFF , 1935px 540px #FFF , 678px 766px #FFF , 1998px 690px #FFF , 778px 1873px #FFF , 178px 201px #FFF , 124px 670px #FFF , 130px 1894px #FFF , 1245px 1797px #FFF , 976px 695px #FFF , 609px 246px #FFF , 1212px 1032px #FFF , 1493px 36px #FFF , 732px 711px #FFF , 943px 212px #FFF , 1212px 987px #FFF , 578px 1744px #FFF , 219px 1211px #FFF , 998px 161px #FFF , 1941px 1329px #FFF , 614px 1371px #FFF , 1490px 1291px #FFF , 25px 1696px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1335px 1914px #FFF , 313px 1179px #FFF , 330px 1842px #FFF , 1325px 226px #FFF , 189px 675px #FFF , 1810px 782px #FFF , 994px 1928px #FFF , 1820px 1904px #FFF , 1397px 1322px #FFF , 1669px 778px #FFF , 1800px 142px #FFF , 55px 267px #FFF , 615px 1761px #FFF , 1706px 1661px #FFF , 1007px 734px #FFF , 558px 1170px #FFF , 1121px 544px #FFF , 864px 231px #FFF , 871px 1514px #FFF , 1664px 1141px #FFF , 167px 2px #FFF , 1824px 1975px #FFF , 999px 956px #FFF , 224px 250px #FFF , 836px 49px #FFF , 543px 1212px #FFF , 231px 493px #FFF , 1854px 493px #FFF , 1246px 367px #FFF , 1041px 36px #FFF , 1958px 1581px #FFF , 1711px 885px #FFF , 1449px 1155px #FFF , 1819px 1711px #FFF , 972px 1135px #FFF , 712px 1284px #FFF , 378px 153px #FFF , 644px 1122px #FFF , 1631px 1171px #FFF , 701px 615px #FFF , 1124px 226px #FFF , 401px 1822px #FFF , 734px 1764px #FFF , 1598px 240px #FFF , 1842px 590px #FFF , 567px 109px #FFF , 118px 534px #FFF , 1136px 1458px #FFF , 369px 730px #FFF , 1855px 1865px #FFF , 1145px 1512px #FFF , 37px 1800px #FFF , 1200px 1366px #FFF , 1696px 1430px #FFF , 1636px 707px #FFF , 348px 878px #FFF , 440px 40px #FFF , 1641px 774px #FFF , 307px 133px #FFF , 630px 1659px #FFF , 1334px 1043px #FFF , 1958px 1392px #FFF , 771px 1259px #FFF , 1910px 422px #FFF , 96px 861px #FFF , 679px 1160px #FFF , 1683px 67px #FFF , 179px 30px #FFF , 712px 321px #FFF , 60px 1463px #FFF , 920px 608px #FFF , 699px 672px #FFF , 151px 866px #FFF , 1453px 715px #FFF , 1213px 1710px #FFF , 309px 249px #FFF , 1994px 80px #FFF , 759px 1827px #FFF , 154px 1714px #FFF , 530px 2000px #FFF , 802px 1948px #FFF , 113px 35px #FFF , 625px 1120px #FFF , 1515px 104px #FFF , 1291px 916px #FFF , 448px 565px #FFF , 1880px 39px #FFF , 585px 482px #FFF , 206px 59px #FFF , 683px 914px #FFF , 1286px 296px #FFF , 1203px 1553px #FFF , 503px 529px #FFF , 220px 1696px #FFF , 1719px 1350px #FFF , 1181px 431px #FFF , 1883px 92px #FFF , 724px 790px #FFF , 952px 1376px #FFF , 1710px 319px #FFF , 1635px 1207px #FFF , 1458px 1740px #FFF , 393px 274px #FFF , 207px 665px #FFF , 1009px 154px #FFF , 1726px 1116px #FFF , 1404px 947px #FFF , 1217px 838px #FFF , 337px 287px #FFF , 971px 1223px #FFF , 1779px 1459px #FFF , 1039px 1679px #FFF , 1673px 426px #FFF , 1043px 166px #FFF , 1948px 338px #FFF , 804px 1835px #FFF , 759px 1549px #FFF , 1160px 844px #FFF , 1324px 972px #FFF , 598px 1518px #FFF , 122px 52px #FFF , 732px 546px #FFF , 610px 1221px #FFF , 363px 397px #FFF , 626px 293px #FFF , 1566px 374px #FFF , 1396px 1135px #FFF , 1301px 560px #FFF , 929px 1914px #FFF , 172px 1586px #FFF , 1980px 1614px #FFF , 1488px 557px #FFF , 342px 1210px #FFF , 1118px 1626px #FFF , 44px 1393px #FFF , 1415px 423px #FFF , 1200px 1210px #FFF , 636px 1583px #FFF , 94px 503px #FFF , 1032px 430px #FFF , 303px 1012px #FFF , 175px 915px #FFF , 1246px 377px #FFF , 1481px 913px #FFF , 1898px 1665px #FFF , 86px 335px #FFF , 1821px 1487px #FFF , 983px 553px #FFF , 1990px 1507px #FFF , 1623px 1731px #FFF , 970px 91px #FFF , 383px 1426px #FFF , 762px 973px #FFF , 1625px 558px #FFF , 138px 1977px #FFF , 1940px 303px #FFF , 906px 570px #FFF , 1775px 1530px #FFF , 1062px 706px #FFF , 656px 1038px #FFF , 1595px 1888px #FFF , 425px 111px #FFF , 1475px 227px #FFF , 332px 470px #FFF , 719px 1137px #FFF , 205px 571px #FFF , 393px 483px #FFF , 1050px 1152px #FFF , 690px 1954px #FFF , 441px 376px #FFF , 1606px 1651px #FFF , 88px 1221px #FFF , 1908px 990px #FFF , 280px 434px #FFF , 525px 1386px #FFF , 1528px 972px #FFF , 1523px 712px #FFF , 1277px 1129px #FFF , 1935px 540px #FFF , 678px 766px #FFF , 1998px 690px #FFF , 778px 1873px #FFF , 178px 201px #FFF , 124px 670px #FFF , 130px 1894px #FFF , 1245px 1797px #FFF , 976px 695px #FFF , 609px 246px #FFF , 1212px 1032px #FFF , 1493px 36px #FFF , 732px 711px #FFF , 943px 212px #FFF , 1212px 987px #FFF , 578px 1744px #FFF , 219px 1211px #FFF , 998px 161px #FFF , 1941px 1329px #FFF , 614px 1371px #FFF , 1490px 1291px #FFF , 25px 1696px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 231px 1055px #FFF , 51px 1198px #FFF , 1074px 290px #FFF , 155px 1205px #FFF , 921px 1691px #FFF , 1275px 371px #FFF , 1999px 291px #FFF , 547px 920px #FFF , 1484px 1854px #FFF , 1029px 666px #FFF , 952px 589px #FFF , 668px 1918px #FFF , 1563px 1493px #FFF , 380px 262px #FFF , 730px 1286px #FFF , 470px 1079px #FFF , 730px 1074px #FFF , 735px 1200px #FFF , 149px 1219px #FFF , 916px 668px #FFF , 1323px 1707px #FFF , 251px 863px #FFF , 314px 887px #FFF , 1949px 1871px #FFF , 1038px 1327px #FFF , 868px 830px #FFF , 1254px 1536px #FFF , 833px 950px #FFF , 1392px 942px #FFF , 314px 1578px #FFF , 411px 1698px #FFF , 105px 893px #FFF , 475px 739px #FFF , 1194px 1616px #FFF , 406px 34px #FFF , 661px 923px #FFF , 1147px 749px #FFF , 107px 1913px #FFF , 481px 235px #FFF , 1634px 1939px #FFF , 267px 1588px #FFF , 714px 318px #FFF , 93px 710px #FFF , 1204px 1775px #FFF , 1444px 698px #FFF , 1806px 1204px #FFF , 988px 1998px #FFF , 1410px 161px #FFF , 521px 189px #FFF , 699px 1809px #FFF , 607px 414px #FFF , 248px 283px #FFF , 443px 1675px #FFF , 185px 541px #FFF , 1533px 80px #FFF , 977px 1167px #FFF , 1509px 1408px #FFF , 454px 1845px #FFF , 668px 1142px #FFF , 578px 645px #FFF , 204px 139px #FFF , 170px 625px #FFF , 1448px 222px #FFF , 1215px 1477px #FFF , 626px 1753px #FFF , 177px 764px #FFF , 1937px 1810px #FFF , 1218px 510px #FFF , 442px 1649px #FFF , 432px 1133px #FFF , 399px 1373px #FFF , 591px 1253px #FFF , 1853px 1921px #FFF , 639px 1271px #FFF , 627px 1070px #FFF , 1739px 1557px #FFF , 1400px 1058px #FFF , 1480px 481px #FFF , 790px 1615px #FFF , 868px 1108px #FFF , 400px 1624px #FFF , 354px 1753px #FFF , 739px 1588px #FFF , 295px 1784px #FFF , 999px 1196px #FFF , 65px 297px #FFF , 956px 619px #FFF , 1148px 171px #FFF , 205px 782px #FFF , 927px 1755px #FFF , 1934px 1932px #FFF , 949px 780px #FFF , 1137px 369px #FFF , 1527px 1617px #FFF , 41px 522px #FFF , 652px 1096px #FFF , 1246px 971px #FFF , 700px 1317px #FFF , 986px 280px #FFF , 703px 1159px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 231px 1055px #FFF , 51px 1198px #FFF , 1074px 290px #FFF , 155px 1205px #FFF , 921px 1691px #FFF , 1275px 371px #FFF , 1999px 291px #FFF , 547px 920px #FFF , 1484px 1854px #FFF , 1029px 666px #FFF , 952px 589px #FFF , 668px 1918px #FFF , 1563px 1493px #FFF , 380px 262px #FFF , 730px 1286px #FFF , 470px 1079px #FFF , 730px 1074px #FFF , 735px 1200px #FFF , 149px 1219px #FFF , 916px 668px #FFF , 1323px 1707px #FFF , 251px 863px #FFF , 314px 887px #FFF , 1949px 1871px #FFF , 1038px 1327px #FFF , 868px 830px #FFF , 1254px 1536px #FFF , 833px 950px #FFF , 1392px 942px #FFF , 314px 1578px #FFF , 411px 1698px #FFF , 105px 893px #FFF , 475px 739px #FFF , 1194px 1616px #FFF , 406px 34px #FFF , 661px 923px #FFF , 1147px 749px #FFF , 107px 1913px #FFF , 481px 235px #FFF , 1634px 1939px #FFF , 267px 1588px #FFF , 714px 318px #FFF , 93px 710px #FFF , 1204px 1775px #FFF , 1444px 698px #FFF , 1806px 1204px #FFF , 988px 1998px #FFF , 1410px 161px #FFF , 521px 189px #FFF , 699px 1809px #FFF , 607px 414px #FFF , 248px 283px #FFF , 443px 1675px #FFF , 185px 541px #FFF , 1533px 80px #FFF , 977px 1167px #FFF , 1509px 1408px #FFF , 454px 1845px #FFF , 668px 1142px #FFF , 578px 645px #FFF , 204px 139px #FFF , 170px 625px #FFF , 1448px 222px #FFF , 1215px 1477px #FFF , 626px 1753px #FFF , 177px 764px #FFF , 1937px 1810px #FFF , 1218px 510px #FFF , 442px 1649px #FFF , 432px 1133px #FFF , 399px 1373px #FFF , 591px 1253px #FFF , 1853px 1921px #FFF , 639px 1271px #FFF , 627px 1070px #FFF , 1739px 1557px #FFF , 1400px 1058px #FFF , 1480px 481px #FFF , 790px 1615px #FFF , 868px 1108px #FFF , 400px 1624px #FFF , 354px 1753px #FFF , 739px 1588px #FFF , 295px 1784px #FFF , 999px 1196px #FFF , 65px 297px #FFF , 956px 619px #FFF , 1148px 171px #FFF , 205px 782px #FFF , 927px 1755px #FFF , 1934px 1932px #FFF , 949px 780px #FFF , 1137px 369px #FFF , 1527px 1617px #FFF , 41px 522px #FFF , 652px 1096px #FFF , 1246px 971px #FFF , 700px 1317px #FFF , 986px 280px #FFF , 703px 1159px #FFF;
  }
  
  #title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
  }
  #title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-4000px);
    }
  
  }
  /******************************Menu*********************************/
  
    

  .site-footer
  {
    background-color: #1b2735;
    margin-top: 80%;
    padding:45px 0 20px;
    font-size:15px;
    line-height:48px;
    color:#ffffff;
    position: relative;
  }
  
  
  .site-footer h6
  {
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#737373;
  }
  .site-footer a:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
  .footer-links
  {
    padding-left:0;
    list-style:none
  }
  .footer-links li
  {
    display:block
  }
  .footer-links p
  {
    color:#737373;
    line-height:48px;
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#ffffff;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:right
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
  }
  .copyright-text
  {
   
    font-size: 14px;
    word-spacing: 0%;
    text-align: center;
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center;
      margin-left: 50px;
    }
  }
  .socialMediaLinks{
    font-size: 25px;
  }
  
  .wrapper
  {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 12px;
      color: #090a0f;
      cursor: pointer;
  }
  .box
  {
      font-family: sans-serif;
      width: 300px;
      perspective: 1000px;
  }
  .block
  {
    margin-top: 100px;
      width: 300px;
      height: 300px;
      padding: 10px;
      transition: all .3s ease;
      animation: bgAnimate 10s ease infinite;
      text-align: center;
      border-radius: 10px;
      background: linear-gradient(270deg, rgba(25, 31, 82, 0.89), rgba(142,197,252,1));      
      background-size: 400% 400%;
      box-shadow: 0 2px 40px rgba(0, 0, 0, .3);
      perspective: 500px;
      letter-spacing: 3px;
  }
  .block:hover
  {
      transform: scale(1.0) scaleZ(2.0)  rotateX(15deg);
      box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
  }
  .block::after
  {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      transition: all .2s ease-out;
      opacity: 0;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(0,0,0,.5), rgba(0,0,0,.0));
  }
  .block:hover::after
  {
      opacity: 1;
  }
  .ph-pic
  {
      position: relative;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      transition: all .3s ease;
      transition-delay: .2s;
      border: 2px solid rgba(211,234,247,1);
      border-radius: 50%;
      box-shadow: 0 0 1px rgba(0,0,0,.1);
  }
  .ph-pic-hover
  {
      transition: all .5s ease;
      transform: translateY(-35px) rotateX(-5deg) scale(1.7);
      box-shadow: 0 8px 6px rgba(0,0,0,.2);
  }
  .ph-pic-hover::after
  {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, rgba(255,255,255,.8), rgba(0,0,0,.0));
      -webkit-background-size: 110% 100%;
      background-size: 110% 100%;
      background-position: 0px 35px;
      background-repeat: no-repeat;
  }
  .textBlock
  {
      -webkit-user-select: none;
      max-width: 180px;
      margin: 0 auto;
      padding-top: 10px;
      transition: all .2s ease;
      transition-delay: .1s;
      text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
  .textBlock-hover
  {
      transform: translateY(-8px) scale(1.2);
      text-shadow: 0 10px 3px rgba(0,0,0,.2);
  }
  .link
  {
      font-weight: 700;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 20px;
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      padding: 3px 25px;
      transition: all .2s ease;
      transition-delay: .2s;
      text-decoration: none;
      color: rgba(0,0,0,.5);
      text-shadow: 0 0 1px rgba(0,0,0,.5);
  }
  .link:hover
  {
      text-shadow: none;
  }
  .link-hover
  {
      transform: scale(1.1);
      text-shadow: 0 5px 4px rgba(0,0,0,.2);
  }
  .link::after
  {
      position: absolute;
      z-index: -2;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      transition: all .1s ease;
      animation: btnAnimate 4s ease infinite;
      border-radius: 10px 10px 0 0;
      background: linear-gradient(270deg, rgba(193,223,196,1), rgba(222,236,221,1), rgba(182,242,177,1));
      background-size: 600% 600%;
  }
  .link:hover::after
  {
      top: 0;
      left: 0;
  }
  .photo1{
      background: url(/img/YeghikyanArarat.jpg);
      background-position: top center;
        -webkit-background-size: 40%;
                background-size: cover;
  }
  .photo2{
    background: url(/img/SamsonyanAnahit.jpg);
      background-position: top center;
        -webkit-background-size: 40%;
                background-size: cover;
  }
  .photo3{
    background: url(/img/HakobyanArmen.jpg);
      background-position: top center;
        -webkit-background-size: 40%;
                background-size: cover;
  }
  
  @keyframes bgAnimate
  {
      0%
      {
          background-position: 0 50%;
      }
      50%
      {
          background-position: 100% 50%;
      }
      100%
      {
          background-position: 0 50%;
      }
  }
  @keyframes btnAnimate
  {
      0%
      {
          background-position: 0 11%;
      }
      50%
      {
          background-position: 100% 90%;
      }
      100%
      {
          background-position: 0 11%;
      }
  }
  @keyframes ph-picAnimate
  {
      0%
      {
          transform: rotateY(0deg) translateY(0px) rotateX(0) scale(1);
      }
      100%
      {
          transform: rotateY(0deg) translateY(-35px) rotateX(0) scale(1.7);
      }
  }
  @media (max-width: 1500px) { 
    .block{
      margin: 50px 0;
    }
  }

  .program{
    background-color: #1b2735;
    margin-top: 20%;
  }
  .program{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .methods{
    background-color: #1b2735;
    margin-top: 20%;
  }
  .methods{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .grants{
    background-color: #1b2735;
    margin-top: 20%;
  }
  .grants{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .science{
    background-color: #1b2735;
    margin-top: 20%;
  }
  .science{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .popular{
    background-color: #1b2735;
    margin-top: 20%;
  }
  .popular{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: left;
  }
  .exo{
    height: auto;
    width: 100%;
    margin-top: 100px;
  }